html{
    background-color: #f9fafc;
}

header img{
    width:90%;
    margin: 0px 5%;
}
hr{
    border: 1px solid rgb(217 14 15);
    width:90% ;
}
main .container1{
    display: flex;
    justify-content: space-between;
    width: 89%;
    margin: 0px 5%;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

main .container2{
    display: flex;
    justify-content: space-evenly;
    width: 89%;
    margin: 0px 5%;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

table:nth-child(2){
    width: 90%;
    margin: 0px 5%;
    border: 1px solid;
    border-radius: 10px;
}
caption:first-child{
    background-color: #de0409;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 18px;
    color: #f9fafc;
}
table:nth-child(2) tr{
    display: flex;
    justify-content: space-between;
}
tbody{
    border: 2px solid;
    border-radius: 100px;
}
table:nth-child(2) td{
    margin: 5px;
}
tr:nth-child(3),
tr:nth-child(7),
tr:nth-child(9),
tr:nth-child(11){
    background-color: #de0409;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px;
    width: 99.2%;
    font-size: 18px;
    margin-left: -1px;
    color: #f9fafc;
}

tr:nth-child(8) td{
    display: flex;
    width: 100%;
    justify-content: space-around;
}




tr:nth-child(10) td{
    width: 100%;
}
td table{
    border: 1px solid;
    border-collapse: collapse;
    width: 100.5%;
    font-size: 15px;
    font-family: 'Droid Arabic Naskh';
    font-weight: bold;
    margin-left:-5px;
}

td table th{
    border: 1px solid;
    width: calc(100% /3);
    padding: 15px;
    background-color: rgb(222 222 222);
}
tr:nth-child(12) td{
    width: 100%;
}
table:nth-child(3){
    border: 1px solid;
    border-collapse: collapse;
    font-size: 15px;
    font-family: 'Droid Arabic Naskh';
    font-weight: bold;
    margin-left:-5px;
}
table:nth-child(3) th{
    padding: 15px;
    background-color: rgb(222 222 222);
    border: 2px solid;
}
tr:nth-child(12) td tr td{
    text-align: center;
    border: 2px  solid;
    padding: 0px;
    margin: 0px;
}



@media (max-width: 680px) {
header img {
width: 89%;
margin: 0px 5%;
}
hr {
    border: 1px solid rgb(217 14 15);
    width: 85%;
    margin-left: 10%;
}
main .container1 {

    width: 89%;

}
main .container2 {

    width: 89%;

}
}




@media (max-width: 630px) {
header img {
width: 100%;
margin: 0px 5%;
}
hr {
    border: 1px solid rgb(217 14 15);
    width: 85%;
    margin-left: 10%;
}
main .container1 {

    width: 100%;

}
main .container2 {

    width: 100%;

}
}


@media (max-width: 570px) {
header img {
width: 105%;
margin: 0px 5%;
}
hr {
    border: 1px solid rgb(217 14 15);
    width: 100%;
    margin-left: 10%;
}
main .container1 {

    width: 105%;

}
main .container2 {

    width: 105%;

}
}

@media (max-width: 520px) {
header img {
width: 118%;
margin: 0px 5%;
}
hr {
    border: 1px solid rgb(217 14 15);
    width: 110%;
    margin-left: 10%;
}
main .container1 {

    width: 118%;

}
main .container2 {

    width: 118%;

}
}



@media (max-width: 460px) {
header img {
width: 130%;
margin: 0px 5%;
}
hr {
    border: 1px solid rgb(217 14 15);
    width: 120%;
    margin-left: 10%;
}
main .container1 {
    width: 130%;
}
main .container2 {
    width: 130%;
}
}


@media (max-width: 420px) {
header img {
width: 145%;
margin: 0px 5%;
}
hr {
    border: 1px solid rgb(217 14 15);
    width: 135%;
    margin-left: 10%;
}
main .container1 {
    width: 145%;
}
main .container2 {
    width: 145%;
}
}






